{% extends 'asistente_base.html' %}
{% load widget_tweaks %}
{% block content %}

<head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<br><br>
<!------ add appointment page by admin(sumit)  ---------->
<form method="post">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>Detalles de la Cita</p>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {% render_field CitasForm.descripcion class="form-control" placeholder="Descripción" %}
            </div>
            <div class="form-group">
              {% render_field CitasForm.medicoId class="form-control" placeholder="Médico" %}
            </div>
            <div class="form-group">
              {% render_field CitasForm.pacienteId class="form-control" placeholder="Paciente" %}
            </div>
            <div class="form-group" id="id_fechaCita">
              {% render_field CitasForm.fechaCita class="form-control" placeholder="Paciente" %}
            </div>
          </div>
          
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}


        </div>
        <button type="submit" class="btn btn-success">Agendar</button>
      </div>
    </div>
  </div>
</form>



{% endblock content %}
