{% extends 'homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hola Asistente!</h1>
  <p class="lead">Bienvenido a nuestro sistema de Gestión de Consultorio</p>
  <hr class="my-4">
  <p>Por favor inicia sesión en el sistema para las funciones de administración</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="/asistentesignup" role="button">Registrate</a>
    <a class="btn btn-info btn-lg" href="/asistentelogin" role="button">Iniciar Sesión</a>
  </p>
</div>

{% endblock content %}
