{% extends 'homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hola Médico</h1>
  <p class="lead">Bienvenido a nuestro sistema de Gestión de Consultorio</p>
  <hr class="my-4">
  <p>Podrás acceder a las funciones del sistema una vez que inicies sesión.</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="/medicosignup" role="button">Aplicar</a>
    <a class="btn btn-info btn-lg" href="/medicologin" role="button">Iniciar Sesión</a>
  </p>
</div>

{% endblock content %}
