{% extends 'homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hola Paciente</h1>
  <p class="lead">Bienvenido SICMA MedHol</p>
  <hr class="my-4">
  <p>Puedes iniciar sesión para acceder a las opciones del sistema</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="/pacientesignup" role="button">Registrar cuenta</a>
    <a class="btn btn-info btn-lg" href="/pacientelogin" role="button">Iniciar Sesión</a>
  </p>
</div>

{% endblock content %}
